@import "variables";
@import "mixins";

.excel__formula {
  display: inline-block;
  height: $cellHeight;

  .first-column {
    display: inline-block;
    min-width: $firstColumnWidth;
    text-align: center;
  }
}
